:root {
  --mainColor: #ff0019;
  --border: 0.2rem solid rgba(0, 0, 0, 0.5);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
  -moz-transition: linear 0.2s;
  -ms-transition: linear 0.2s;
  -o-transition: linear 0.2s;
}
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: var(--mainColor);
}
html::-webkit-scrollbar-track {
  background: #000;
}
section {
  padding: 2rem 9%;
}
*::selection {
  background-color: var(--mainColor);
  color: #000;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
}
.heading {
  font-size: 4.5rem;
  /* padding-bottom: 1rem; */
  text-align: center;
}
/* strat header */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  padding: 3rem 9%;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
header .logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}
header .logo span {
  color: var(--mainColor);
}
header a {
  font-size: 1.7rem;
  color: #000;
  margin: 0 1rem;
}
.btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  color: #fff;
  background-color: var(--mainColor);
  margin-top: 1rem;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
header nav a:hover {
  color: var(--mainColor);
}
.btn {
  margin-top: 0;
}
#signup i {
  color: var(--mainColor);
  font-size: 2.5rem;
  display: none;
}
header .menu {
  font-size: 2.5rem;
  color: var(--mainColor);
  cursor: pointer;
  display: none;
}

/* start loginContent */

.loginContent {
  position: fixed;
  top: -105%;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(238, 230, 230, 0.9);
  z-index: 1000;
  transition: linear 0.65s;
  -webkit-transition: linear 0.65s;
  -moz-transition: linear 0.65s;
  -ms-transition: linear 0.65s;
  -o-transition: linear 0.65s;
}
.loginContent.active {
  top: 0;
}
header .navbar.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.themeToggle.active {
  right: 0;
}
.loginContent form {
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  width: 40rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}
.loginContent form .box {
  padding: 1rem 1.2rem;
  margin: 0.7rem 0;
  text-transform: none;
  font-size: 1.6rem;
  border-radius: 00.5rem;
  border: var(--border);
  width: 100%;
}
.loginContent form h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  color: #000;
}
.loginContent form p {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  padding: 1rem 0;
}
.loginContent form a {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

#loginForm {
  color: white;
  position: absolute;
  font-size: 5rem;
  right: 2.5rem;
  cursor: pointer;
  top: 1.5rem;
}
/* end loginContent */
/* start home */
.home {
  padding-top: 10rem;
  overflow-x: hidden;
  text-align: center;
}
.home h3 {
  font-size: 9.5vh;
  text-transform: uppercase;
}
.home img {
  width: 100%;
  margin-top: -17rem;
}

/* end home */
/* start two */
.iconContainer {
  margin-bottom: 200px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.iconContainer .icons {
  background-color: #fff;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.iconContainer .icons i {
  height: 5rem;
  width: 5rem;
  background-color: #ccc;
  font-size: 2.5rem;
  line-height: 5rem;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.iconContainer .icons h3 {
  font-size: 2.5rem;
  color: var(--mainColor);
}
.iconContainer .icons p {
  font-size: 1.5rem;
  color: var(--mainColor);
}
.iconContainer .icons:hover {
  background-color: #000;
}
/* end two */
/* start vicle */
/* .vicle{
    margin-bottom: 200px;
}
.vicle img{
    width: 100%;
} */
/* end vicle */
/* Vehicle Section Start */
.VehiclesSlider {
  padding-bottom: 5rem;
}
.VehiclesSlider .box {
  text-align: center;
}
.vehicle img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transform: scale(0.8);
}
.VehiclesSlider .swiper-slide-active img {
  opacity: 1;
  transform: scale(1);
}
.VehiclesSlider .box .content {
  padding-top: 1rem;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.VehiclesSlider .swiper-slide-active .content {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.VehiclesSlider .box .content h3 {
  font-size: 2.5rem;
}
.VehiclesSlider .box .content .price {
  color: var(--mainColor);
  font-weight: 600;
  padding: 1rem 0;
  font-size: 2.2rem;
}
.VehiclesSlider .box .content .price span {
  color: var(--mainColor);
  font-size: 1.5rem;
  font-weight: 500;
}

.VehiclesSlider .box .content p {
  font-size: 1.6rem;
  padding: 1rem 0;
  padding-top: 1.5rem;
  border-top: var(--border);
  color: var(--mainColor);
}
.VehiclesSlider .box .content span {
  color: var(--main);
  font-size: 1rem;
  padding: 0 0.5rem;
}
.swiper-pagination-bullet-active {
  background: var(--mainColor);
}
/* Vehicle Section End */
/* start future section */
/* Featured Section Start */
.FeatureSlider {
  padding: 1rem;
  padding-bottom: 4rem;
}
.FeatureSlider .box {
  padding: 2rem;
  text-align: center;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}
.feature img {
  height: 15rem;
}
.feature .box:hover img {
  transform: scale(1.08);
}
.feature .box .content h3 {
  font-size: 2.2rem;
}
.feature .box .content .stars {
  padding: 1rem 0;
}
.feature .box .content .stars i {
  color: var(--mainColor);
  font-size: 1.7rem;
}
.feature .price {
  font-size: 2.5rem;
}
/* Featured Section End */
/* end future section */
/* Services Section Start */
.services .boxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.services .boxContainer .box {
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
}
.services .boxContainer .box:hover {
  background: #000;
  color: #fff;
}
.services .boxContainer .box i {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  line-height: 6rem;
  background: var(--mainColor);
  color: #000;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.services .boxContainer .box h3 {
  font-size: 2.2rem;
}
.services .boxContainer .box p {
  line-height: 1.8;
  padding: 1rem 0;
  font-size: 1.4rem;
}
/* Services Section End */

/* Newsletter Start */
.newsletter {
  background: url(../img/newletter.png) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.newsletter h3 {
  color: #fff;
  font-size: 3rem;
}
.newsletter p {
  font-size: 1.5rem;
  color: #ccc;
  padding: 1rem 0;
}
.newsletter form {
  height: 5rem;
  max-width: 60rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  display: flex;
  margin: 1rem auto;
  overflow: hidden;
}
.newsletter form input[type="email"] {
  height: 100%;
  width: 100%;
  padding: 0 2rem;
  font-size: 1.6rem;
  text-transform: none;
}
.newsletter form input[type="submit"] {
  font-size: 1.7rem;
  height: 100%;
  width: 17rem;
  background: var(--mainColor);
  cursor: pointer;
}
/* Newsletter End */

/* Review Section Start */
.ReviewSlider {
  padding-bottom: 3rem;
}
.ReviewSlider .box {
  padding: 2rem;
  text-align: center;
  opacity: 0.5;
  margin: 2rem 0;
  transform: scale(0.8);
}
.ReviewSlider .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: 0.5rem;
}
.ReviewSlider .box img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}
.ReviewSlider .box .content p {
  font-size: 1.4rem;
  padding: 1rem 0;
}
.ReviewSlider .box .content h3 {
  font-size: 2.2rem;
  padding-bottom: 0.5rem;
}
.ReviewSlider .box .content .stars i {
  font-size: 1.7rem;
  color: var(--mainColor);
}
/* Review Section End */

/* Contact Form Start */
.contact {
  margin-bottom: 200px;
}
.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.contact iframe {
  flex: 1 1 42rem;
  width: 100%;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: 0.5rem;
}
.contact form {
  flex: 1 1 42rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  text-align: center;
  border-radius: 0.5rem;
}
.contact h3 {
  font-size: 3rem;
  padding-bottom: 1rem;
}
.contact form .box {
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  text-transform: none;
  border: var(--border);
  font-size: 1.6rem;
  margin: 0.7rem 0;
}
.contact form textarea {
  resize: none;
  height: 18rem;
}
/* Contact Form End */

/* Footer Start */
footer {
  background: var(--mainColor);
  padding: 2rem;
  text-align: center;
}
footer a {
  color: #fff;
  font-size: 2.1rem;
}
/* Footer End */

/* Theme Toggle */

.themeToggle {
  position: fixed;
  top: 10rem;
  right: -20rem;
  background: #000;
  text-align: center;
  width: 20rem;
  z-index: 1000;
}
.themeToggle.active {
  right: 0;
}
.themeToggle h3 {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}
.themeToggle .buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
.themeToggle .themeBtn {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  border-radius: 50%;
}
.themeToggle .ToggleBtn {
  position: absolute;
  top: 0;
  left: -5.9rem;
  padding: 1.3rem 1.5rem;
  background: #000;
  cursor: pointer;
}
.themeToggle .ToggleBtn i {
  color: #fff;
  font-size: 3rem;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
}
/* Theme Toggle */

/* start media */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  header .menu {
    display: block;
  }
  .fa-times {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .navbar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
    padding: 1rem;
    background-color: #ccc;
  }
  .home img {
    margin-top: -10rem;
  }
  .home h3 {
    font-size: 7.5rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home h3 {
    font-size: 7.5rem;
  }
}
@media (max-width: 561px) {
  .home h3 {
    font-size: 40px;
    padding-bottom: 20px;
  }
}
/* end media */

/* end header */
